/**------------------------------------------------
 **  CSS Styles coding conventions and structure
 **
 **  pf- : class prefix for portfolio project
 **
 ** Table of contents
 **    #0: General elements styles
 **    #1: Header styles
 **    #2: Contents
 **    #3: Featured Work
 **    #4: Media Queries
 **------------------------------------------------**/

/**-- #0: styles: html common tags --**/
*, html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    color: #333333;
    font-size: 14px;
    line-height: 1.4285;
    overflow-x: hidden;
    overflow-y: auto;
}

/**-- ./styles: html common tags --**/

/**-- #1: header --**/
.pf-header {
    /*height: 119px;*/
    width: 100%;
}

.pf-header .pf-header-row {
    border-bottom: 4px solid #7d97ad;
    height: 119px;
    margin: 0;
}

/**-- pf-header-row > logo-wrap --**/
.pf-header .pf-header-row .pf-logo-wrap {
    padding: 10px;
}

.pf-header .navbar-header .pf-header-row .pf-logo-wrap > a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.pf-header .navbar-header .pf-header-row .pf-logo-wrap > a .pf-logo {
    height: 80px;
    width: auto;
    padding: 19px 20px 20px 20px;
}

/**-- ./pf-header-row > logo-wrap --**/

/**-- pf-header-row > profile --**/
.pf-header .pf-header-row .pf-profile-info {
    float: right;
}

.pf-header .navbar-header .pf-header-row .pf-profile-info .pf-profile-owner-name {

}

.pf-header .navbar-header .pf-header-row .pf-profile-info .pf-profile-owner-title {
    display: block;
}

/**-- pf-header-row > profile --**/

/**-- ./header --**/

/**-- #2: contents --**/
.pf-page-content {
    background-color: #fff;
    padding: 20px 0;
}

/**-- ./header --**/

/**-- section: jumbotron --**/
.pf-page-content #pf-content-jumbotron {

}

.pf-page-content #pf-content-jumbotron .jumbotron {
    height: 310px;
    position: relative;
    background: none;
}

.pf-page-content #pf-content-jumbotron .jumbotron img {
    position: absolute;
    top: 0;
    left: 0;
}

/**-- ./section: jumbotron --**/

/**-- #3: section: featured work --**/
.pf-page-content #pf-content-featured-work {

}

.pf-page-content #pf-content-featured-work .pf-featured-work-title {

}

.pf-page-content #pf-content-featured-work .pf-featured-work {

}

.pf-page-content #pf-content-featured-work .pf-featured-work .caption {
    text-align: center;
    margin: 0 auto;
}

/**-- ./section: featured work --**/


/**-- #4: Media Queries --**/
/*-- Browser Resize --*/
@media (max-width: 479px) {
    .pf-header .pf-header-row {
        height: 90px;
    }

    .pf-header .pf-header-row .pf-logo-wrap {
        display: none;
    }

    .pf-header .pf-header-row .pf-profile-info {
        text-align: center;
        margin: 0 auto;
        float: none;
    }
    .pf-page-content {
        padding: 0;
    }
    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 140px;
    }
    .pf-page-content #pf-content-featured-work .pf-featured-work-title {
        margin-top: 5px;
    }

}
@media (min-width: 480px)
   and (max-width: 650px) {
    .pf-header {
        margin-bottom: 0;
    }
    .pf-header .pf-header-row {
        height: 90px;
    }
    .pf-header .pf-header-row .pf-logo-wrap {
        display: inline-block;
    }
    .pf-header .pf-header-row .pf-logo-wrap > a {
        padding-left: 0;
        padding-right: 0;
    }
    .pf-header .pf-header-row .pf-logo-wrap > a img {
        width: 160px;
        display: inline;
    }
    .pf-header .pf-header-row .pf-profile-info {
        float: right;
    }
    .pf-header .pf-header-row .pf-profile-info .pf-profile-owner-name {
        font-size: 24px;
    }

    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 115px;
    }

}

@media (min-width: 650px)
and (max-width: 768px) {
    .pf-header .pf-header-row .pf-logo-wrap,
    .pf-header .pf-header-row .pf-profile-info {
        display: inline-block;
    }

    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 212px;
    }

    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 212px;
    }
}
/*-- ./Browser Resize --*/



/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    /* Styles */
    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 290px;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    /* Styles */
    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 212px;
    }
}

/*-- Browser Resize --*/
@media (min-width: 768px)
and (max-width: 991px) {
    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 212px;
    }
}
/*-- ./Browser Resize --*/


/* iPhone 6 ----------- */
@media only screen
and (min-device-width: 375px)
and (max-device-height: 667px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .pf-header .pf-header-row .pf-logo-wrap {
        display: none;
    }

    .pf-header .pf-header-row .pf-profile-info {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-height: 667px)
and (orientation: portrait)
and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 100px;
    }

    .pf-page-content #pf-content-featured-work .pf-featured-work .caption .pf-fw-project-link {
        display: block;
        word-wrap: break-word;
    }
}

/* iPhone 6+ ----------- */
@media only screen
and (min-device-width: 414px)
and (max-device-height: 736px)
and (orientation: landscape) {
    /* Styles */
    .pf-header .pf-header-row .pf-logo-wrap {
        display: none;
    }

    .pf-header .pf-header-row .pf-profile-info {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen
and (min-device-width: 414px)
and (max-device-height: 736px)
and (orientation: portrait) {
    /* Styles */
    .pf-page-content #pf-content-jumbotron .jumbotron {
        height: 100px;
    }

    .pf-page-content #pf-content-featured-work .pf-featured-work .caption .pf-fw-project-link {
        display: block;
        word-wrap: break-word;
    }
}

