/**------------------------------------------------
 **  CSS Styles coding conventions and structure
 **
 **  pf- : class prefix for portfolio project
 **
 ** Table of contents
 **    #0: General elements styles
 **    #1: Header styles
 **    #2: Contents
 **    #3: Featured Work
 **    #4: Media Queries
 **------------------------------------------------**/

/**-- #0: styles: html common tags --**/
*, html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    color: #333333;
    font-size: 14px;
    line-height: 1.4285;
    overflow-x: hidden;
    overflow-y: auto;
}

/**-- ./styles: html common tags --**/

/**-- #1: header --**/
header nav.pf-header-nav {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
}

header nav.pf-header-nav .navbar-header {
    display: inline-block;
}

header nav.pf-header-nav .navbar-header .pf-logo {
    padding: 15px;
    height: 60px;
}

header nav.pf-header-nav .navbar-header .pf-logo img {
    height: 30px;
    width: 185px;
}

header nav.pf-header-nav .pf-profile-info {
    margin-right: 15px;
    display: inline-block;
    float: right;
}

header nav.pf-header-nav .pf-profile-info .pf-profile-owner-name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    color: #2d3c49;
    font-weight: 400;
}

header nav.pf-header-nav .pf-profile-info .pf-profile-owner-title {
    margin-bottom: 5px;
    display: block;
}

/**-- ./header --**/

/**-- #2:section: jumbotron --**/

section#pf-content-jumbotron {
    margin: 0 -15px;
}

section#pf-content-jumbotron .jumbotron {
    background: none;
    padding: 0;
}

section#pf-content-jumbotron .jumbotron img {
    width: 100%;
    padding: 0 15px;
}

/**-- ./section: jumbotron --**/

/**-- #3: section: featured work --**/
.pf-featured-work-title {
    color: #7d97ad;
    font-size: 26px;
    text-transform: capitalize;
}

.pf-featured-work .caption {
    text-align: center;
    margin: 0 auto;
}

.pf-featured-work .caption .pf-fw-project-title {
    color: #2d3c49;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

.pf-featured-work .caption .pf-fw-project-link {
    color: #2d3c49;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.pf-featured-work .caption .pf-fw-project-link:hover,
.pf-featured-work .caption .pf-fw-project-link:focus {
    text-decoration: underline;
    outline: none;
}

.pf-featured-work .pf-fw-project-link {
    word-wrap: break-word;
}

/**-- ./section: featured work --**/

/**-- #4: Media Queries --**/
@media (max-width: 480px) {
    header nav.pf-header-nav .navbar-header {
        display: none;
    }
    header nav.pf-header-nav .pf-profile-info {
        margin: 0 auto;
        text-align: center;
        display: block;
        float: none;
    }
}

/**-- ./Media Queries --**/
